body {
    background-color: rgb(255, 231, 206);
    margin: 0;
}

header {
    background-color: white;
    font-size: 55px;
    padding: 20px;
    font-family: Calibri;
    text-align: center;
}

.secao_playstation {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.secao_xbox {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.secao_nintendo {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.produtos_playstation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.produtos_xbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.produtos_nintendo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.nome_playstation {
    font-family: Arial;
    text-decoration: underline;
}

.nome_xbox {
    font-family: Arial;
    text-decoration: underline;
}

.nome_nintendo {
    font-family: Arial;
    text-decoration: underline;
}

.preco_playstation {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
}

.preco_xbox {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
}

.preco_nintendo {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
}

img {
    width: 200px;
    transition: width 0.3s;
    box-shadow: 5px 5px 5px black;
}

img:hover {
    width: 250px;
}