body {
    background-color: black;
    margin: 0;
}

header {
    background-color: white;
    font-size: 15px;
    padding: 20px;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.secao_playstation {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.secao_xbox {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.secao_nintendo {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.produtos_playstation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.produtos_xbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.produtos_nintendo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border: solid white;
}

.nome_playstation {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nome_xbox {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nome_nintendo {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.preco_playstation {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}

.preco_xbox {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}

.preco_nintendo {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}

.icones_produtos {
    width: 200px;
    transition: width 0.3s;
    box-shadow: 5px 5px 5px black;
}

.icone_secao {
    width: 200px;
    margin-right: 10px;
    padding: 10px;
}

.icones_produtos:hover {
    width: 250px;
}